<!DOCTYPE html>
<html>
	<head>
		<title> HUNTERN </title>
		<link rel="stylesheet" href="main.css" type="text/css">
	</head>
	<body>
		<!-- <div id="bg"></div> -->
		
		<div class="header">
			<ul>
				<li><a href="/"><h1>HUNTERN</h1></a></li>
			</ul>
		</div>

		<div class="container-profile">
			<div class="profile">
				<center><div class="companyphoto"></div></center>
				<center><h1>COMPANY NAME</h1></center>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus id nulla eget tempus. Duis quis arcu nibh. Duis quis ante quam. Vivamus ut fermentum lectus. Sed vel diam congue, vulputate diam ac, rhoncus nibh. Maecenas consectetur vestibulum metus id viverra. Aliquam mollis porta velit, vel fringilla mauris gravida eu. Maecenas at varius massa.</p>
				<h3>Contact this company: </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus id nulla eget tempus. Duis quis arcu nibh. Duis quis ante quam. Vivamus ut fermentum lectus. Sed vel diam congue, vulputate diam ac, rhoncus nibh. Maecenas consectetur vestibulum metus id viverra. Aliquam mollis porta velit, vel fringilla mauris gravida eu. Maecenas at varius massa.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus id nulla eget tempus. Duis quis arcu nibh. Duis quis ante quam. Vivamus ut fermentum lectus. Sed vel diam congue, vulputate diam ac, rhoncus nibh. Maecenas consectetur vestibulum metus id viverra. Aliquam mollis porta velit, vel fringilla mauris gravida eu. Maecenas at varius massa.</p>
			</div>
		</div>	
	</body>
</html>
