<!DOCTYPE html>
<html>
	<head>
		<title> HUNTERN </title>
		<link rel="stylesheet" href="./static/main.css" type="text/css">
	</head>
	<body>
		<!-- <div id="bg"></div> -->

		<div class="header">
			<ul>
				<li><a href="/"><h1>HUNTERN</h1></a></li>
			</ul>
		</div>

		<div class="container-signin">
			<div class="signin" id="admin">
				<h2>Admin Sign-in</h2>
				<form action="/signin" method="post">
					<label for="email"> Email </label>
					<input type="email" name="email">
					<label for="password"> Password </label>
					<input type="password" name="password">
					<button id="admin"> Sumbit </button>
				</form>
			</div>
		</div>
	</body>
</html>
