
<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
</head>
<body>
<container>
	<form role="form">
	<div class="form-group">
		<input id="searchinput" class="form-control" type="search" placeholder="Search..." />
	</div>
	<div id="searchlist" class="list-group">
		<a class="list-group-item" href="blue.html"><span>blue</span></a>
		...
	</div>
</form>

<form action="/upload-logo" method="post">
	<div>
		<label for="logo">Upload Company Logo</label>
		<input type="file" name="logo" id="logo">
	</div>

	<button>Upload</button>
</form>

</container>
<script>
	$('#searchlist').btsListFilter('#searchinput', {itemChild: 'span'});
</script>
</body>
</html>
