<!DOCTYPE html>
<html>
	<head>
		<title> HUNTERN </title>
		<link rel="stylesheet" href="./static/main.css" type="text/css">
	</head>
	<body>
		<!-- <div id="bg"></div> -->

		<div class="container-title">
			<div class="title">
				<h1>HUNTERN</h1>
				<p>Looking for an internship program from a company? Worry no more, for <b>Huntern</b> is here!</p>
				<p>With <b>Huntern</b>, you can browse through different companies that may be offering the internship program suitable for you. We will provide you with the company's description, contact information and the internship program they are offering. You can also search companies depending on what kind of companies you are looking for. Whether you're looking for an IT company or research company, etc., we gotchu.</p>
				<p> </p>
				<h3>So let's get hunting!</h3>
			</div>
		</div>

		<div class="container-signin">
			<div class="signin">
				<h2>Sign-in to start hunting!</h2>
				<form action="/signin" method="post">
					<label for="email"> Email </label>
					<input type="email" name="email">
					<label for="password"> Password </label>
					<input type="password" name="password">
					<button> Sumbit </button>
				</form>
				<p>Not yet a member? <a href="signup.html">Sign up!</a><p>
				<p class="admin">Click <a href="adminlogin.html">here</a> for admin sign-in<p>
			</div>
		</div>

		<div class="header">


			<!-- <ul>
				<li><a href="/"><h1>HUNTERN</h1></a></li>
			</ul> -->
		</div>
	</body>
</html>
